<h1>Threads</h1>

<% @forum_threads.each do |thread| %>
	<table>
		<tr>
			<td>Topic: <%= thread.name %></td>
			<td>Creator: <%= thread.creator_name %></td>
			<td>posts: <%= thread.posts.count %></td>
			<td><%= link_to 'show', thread_page_path(thread, 1) %></td>
		</tr>
	</table>
<% end %>	